@import 'colors';
@import 'text';

$bor-back-tech: 0.5px solid $green;
$height: 312px;
$width: 218px;
$border-radius: 5px;

%tech-pr {
  border-right: solid 2px $green;
  height: 100%;
  margin-left: 50%;
  padding: 50% 10% 50% 0;
}

<<<<<<< HEAD
.tech-fr {
  grid-row: 2/4;

}

.tech-bk {
  grid-row: 5/7;
}

@media only screen and (max-width: 1024px) {

  .tech {
    align-items: center;
    border-bottom: solid 2px $green;
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
  }

  .tech-pr {
    border-right: none;
    justify-content: center;
  }

  .tech-fr {
    grid-row: auto;
  
  }
  
  .tech-bk {
    grid-row: auto;
  }
}

.tech-content {
=======
.tech {
>>>>>>> fea-003
  align-items: center;
  display: flex;
  flex-direction: column;
  height: $height;
  justify-content: space-between;
  margin: 20px;
  padding: 10px 40px 35px 25px;
  text-align: center;
  width: $width;

  &:nth-child(2) {
    @extend %tech-pr;
    grid-row: 2/4; 
  }
  
  &:nth-child(8) {
    @extend %tech-pr;
    grid-row: 5/7;
  }
}

.img-tech {
  height: 100px;
  width: 100px;
}

.tech-title {
  font-size: $text-medium;
}

.tech-release {
  font-size: $text-small;
  font-weight: bold;
  padding-top: 15px;
}

.tech-description {
  font-size: $text-small;
}
