@import 'text';

.title::before {
  background-image: url('assets/triangle.svg');
  bottom: 5px;
  content: '';
  height: 90px;
  left: 20px;
  width: 70px;
  position: relative;
  z-index: -1;
}

.title {
  align-items: center;
  display: flex;
  font-size: $text-big;
  width: 100%;
}
