@import 'text';

.div-title {
  align-items: center;
  display: flex;
}

.img-title {
  height: 90px;
  width: 70px;
}

.text-title {
  font-size: $text-big;
  position: relative;
  right: 18px;
  top: 4px;
}
