.login {
  align-items: center;
  display: flex;
  flex-direction: column;

  & > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 15px;

    & > label {
      padding-right: 20px;
      text-align: right;
    }
  }
}

.btn {
  width: 100px;
}
