@import 'text';

.title {
  align-items: center;
  display: flex;
  font-size: $text-big;
  grid-column: 1/4;
  margin-top: 20px;

  &::before {
    background-image: url('assets/triangle.svg');
    background-repeat: no-repeat;
    bottom: 5px;
    content: '';
    height: 90px;
    left: 20px;
    position: relative;
    width: 70px;
    z-index: -1;
  }
}

@media only screen and (max-width: 1024px) {
  .title {
    grid-column: 1;
    justify-self: start;
  }
}
